@media (max-width:600px){

  .column{
    width:90% !important;
  }

  .main-nav{
    display: none !important;
  }

  .mobile-menu{
    display: flex !important;
    position: fixed;
    top: 50px;
  }

  .double-line{
    align-self: center;
  }

  #content {
    margin-top:120px !important;

    .intro{
     width: 90% !important;
     align-self: center;
     display: flex;
     flex-direction: column;
     text-align: center;
    }

    p{
      width: 100% !important;
    }

    .project-description{
      width: 80% !important;
      flex-direction: column !important;
      align-items: stretch !important;

      p{
        font-size: 12px !important;
      }
    }

    .mobile-btn{
      display: block !important;
      text-align: center !important;
      width:100%;
      box-sizing: border-box;
    }

    .hide-mobile{
      display: none !important;
    }

    .project-image{
      width:100% !important;
      height:200px !important;
    }

    .primary-btn{
      margin-top: 20px;
      text-align: center;
    }

    .experience-container{
      width:90% !important;

      h2{
        text-align: center;
      }
    }

  }
}
