@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Rubik:400,700&display=swap");
body {
  background-image: linear-gradient(#050417, #361652);
  color: white;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0px; }

.container {
  display: flex;
  width: 100%;
  justify-content: center; }

.column {
  width: 80%;
  display: flex;
  flex-direction: column; }

section {
  display: flex;
  justify-content: center;
  flex-direction: column; }

#header {
  display: flex;
  width: 100%; }

.mobile-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #050417; }
  .mobile-nav a, .mobile-nav div {
    margin: 20px 0px; }

.mobile-menu {
  display: none;
  justify-content: center;
  align-items: center; }

.main-nav {
  flex-direction: row; }

.footer-nav {
  margin: 20px 0px 0px; }
  .footer-nav a {
    margin: 20px 10px 0px; }

nav a, nav div {
  font-family: 'Rubik', sans-serif;
  color: #FFF5F5;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0px 20px;
  transition: margin 1s ease-in-out, border-radius 1s ease-in-out;
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2); }
nav a:hover {
  color: #FB136D;
  transition: all 0.5s ease-in-out; }
nav .menu-item {
  width: 24px; }
nav :first-child {
  margin-left: 0px; }
nav :last-child {
  margin-right: 0px; }

.main-nav {
  display: flex;
  position: fixed;
  top: 0;
  margin: 40px 0px;
  justify-content: center;
  align-items: center; }

.home-nav {
  background-color: #FB136D;
  border-radius: 0px;
  width: 48px;
  height: 48px;
  transition: all 1s ease-in-out;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }

.home-nav:hover {
  transform: rotate(90deg);
  border-radius: 15px;
  background-color: #e01564; }

.primary-btn {
  background-color: #FB136D;
  color: white;
  font-size: 16px;
  padding: 10px 40px;
  text-decoration: none;
  transition: all 0.5s ease-in-out; }

.primary-btn:hover {
  background-color: #e01564;
  border-radius: 10px; }

.double-line {
  border-bottom: 2px solid #FB136D;
  width: 200px;
  margin: 3px 0px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }

.self-center {
  align-self: center; }

.m-top40 {
  margin-top: 40px !important; }

.m-top20 {
  margin-top: 20px !important; }

.m-top80 {
  margin-top: 80px; }

.m-bot40 {
  margin-bottom: 40px; }

#content {
  margin-top: 150px;
  display: flex;
  flex-direction: column; }
  #content .intro {
    margin-top: 40px; }
    #content .intro h1 {
      font-size: 32px;
      color: #FB136D;
      font-family: "Rubik", sans-serif; }
    #content .intro p {
      width: 50%;
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 40px; }
    #content .intro p span {
      font-weight: bold;
      font-family: 'Rubik', sans-serif; }
  #content .project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 0px; }
  #content .experience-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    margin: 80px 0px 0px; }
    #content .experience-container h2 {
      color: #FB136D; }
    #content .experience-container h3 {
      font-size: 21px;
      margin: 0px;
      font-family: "Rubik", sans-serif; }
    #content .experience-container h4 {
      font-size: 18px;
      margin: 20px 0px 0px; }
    #content .experience-container h5 {
      margin: 20px 0px;
      font-size: 14px;
      color: #FB136D; }
    #content .experience-container p {
      margin: 0px; }
    #content .experience-container .experience-info {
      margin: 40px 0px 20px; }
  #content .project-image {
    background-color: white;
    width: 80%;
    height: 300px;
    justify-content: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }
  #content .project-description {
    width: 70%;
    margin-top: -40px;
    padding: 20px;
    background-color: #361652;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }
    #content .project-description h2 {
      margin: 0px;
      font-family: 'Rubik', sans-serif; }
    #content .project-description p {
      font-size: 16px;
      margin: 0px; }
  #content .project-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
  #content .mobile-btn {
    display: none; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px; }
  footer h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    margin: 0px; }
  footer .footer-icons {
    display: flex;
    flex-direction: row; }
    footer .footer-icons div {
      margin: 20px 10px 0px; }

/*# sourceMappingURL=style.css.map */
